html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F7F7F7;
}

$brand-success: adjust-hue($green, -20deg);


#app {
  display: block;
  position: relative;
  width: 100%;

  .col-items {
    margin: 70px 0;
    .col-item {
      font-size: 50px;
      color: $brand-success;
      text-align: center;

      .text {
        display: block;
        font-size: 30px;
        color: #FFF;
      }
    }
  }
}

@font-face {
    font-family: 'Old English';
    src: url('../fonts/old-english.woff2') format('woff2'),
    url('../fonts/old-english.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.paginationX {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    padding: 6px 12px;
    line-height: 1.4;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  &__link:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
  &__link:focus {
    outline: none;
  }
  &__item-active &__link {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
  }
  &__item-disabled &__link {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: default;
  }
  &__break {
    display: block;
    padding: 6px 12px;
    line-height: 1.4;
    text-decoration: none;
    color: #777;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

