
// Customize Bootstrap variables that get imported before the original Bootstrap variables.
// Thus original Bootstrap variables can depend on values from here.

// cyan 2:        00EEEE
// rosybrown 1:   FFC1C1
// orange 1:      FFA500
// yellow 3:      CDCD00
// springgreen 1: 00EE76


// $brand-primary: #00EE76;


// Override default Bootstrap "$font-family-sans-serif" setting
$font-family-sans-serif: 'OpenSans-Light', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;

$fonts-url-path: '../fonts';

@font-face {
  font-family: 'OpenSans-Light';
  src: url('#{$fonts-url-path}/OpenSans-Light.ttf') format('truetype');
}



// $input-color: #00EEEE;
// $font-size-base: 16px;