
/node_modules
/log
logs
/ssl
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist
/build
/coverage
gh-pages/
bin/*.json

#################################

.DS_Store
*.log
.env
.crt
.pem
.dll
.exe
.bin
.dat
.csv
.txt
.rtf
.pdf
*.pid
*.seed
*.pid.lock
.nyc_output
.yarn-integrity
/.vscode
/.idea
.env
*.sublime-workspace

#################################

/src/**/*.css
companies.txt
server/config/config.js
server/mail/config.js
/client/build
dist/
public/static/dist
public/uploads
public/sw.js